
.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {


}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;

}

.exerciseHeaderNav {

}

.exerciseHeaderNav ul {

}

.exerciseHeaderNav ul li {


}


/* Main */

.exerciseMain {

}

.exerciseMainLeftNav {


}

.exerciseMainContent {


}

.exerciseMainContent > * {
    margin: 0;
}

.exerciseMainContentBanner {
    flex: 100%;
}

.exerciseMainContentSubBanner {
    flex: 75%;
}

.exerciseMainContentBlock {
    flex: 25%;
}